<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Înregistrare Utilizator</title>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Formular de Înregistrare</h1>
  <form id="registrationForm">
    <input type="text" id="username" name="username" required>
    <input type="password" id="password" name="password" required>
    <input type="email" id="email" name="email" required>
    <input type="text" id="phoneNumber" name="phoneNumber" required>
    <input type="text" id="address" name="address">
    <button type="button" id="submitBtn">Submit</button>
  </form>

</div>

<script>
  document.getElementById("submitBtn").addEventListener("click", async () => {
    const formData = {
      username: document.getElementById("username").value,
      password: document.getElementById("password").value,
      email: document.getElementById("email").value,
      phoneNumber: document.getElementById("phoneNumber").value,
      address: document.getElementById("address").value,
    };

    const response = await fetch("/register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(formData),
    });

    if (response.ok) {
      window.location.href = "/login";
    } else {
      console.error("Eroare la înregistrare");
    }
  });
</script>
</body>
</html>