body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    overflow: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6c63ff;
    color: white;
}
#app-name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}


#layout {
    display: flex;
    height: calc(100vh - 60px); 
}


#side-menu {
    width: 200px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 105px; 
    bottom: 0; 
}


#side-menu a, #side-menu button {
    display: block;
    background-color: #ffffff;
    text-decoration: none;
    color: black;
    border: none;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#side-menu a:hover, #side-menu button:hover {
    background-color: #e0e0e0;
}

#side-menu #logout {
    margin-top: auto; 
    background-color: #ff4d4d;
    color: white;
}

#side-menu #logout:hover {
    background-color: #ff3333;
}

.profile-container {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px; 
    height: 700px;
    margin-left: 650px;
    margin-top: 30px;
    
    
}

.form-container {
    margin-top: 10px;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    
    
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    margin: 5px 0;
    font-weight: bold;
    text-align: left;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
    max-width: 500px; 
    box-sizing: border-box;
}
input:disabled {
    background-color: #e9ecef;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 180px; 
    height: 40px;
}


#editButton {
    background-color: #004085; 
    color: white;
    margin-top: 10px;
}

#saveButton {
    background-color: #28a745;
    color: white;
    margin-top: 10px;
}

button:hover {
    opacity: 0.9;
}

#buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#becomeProviderButton {
    margin-top: 10px;
    background-color: #004085; 
    color: white;
}

#providerFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
    margin-right: 56px;
    margin-top: 20px;

}

#saveProviderButton {
    background-color: #1db93f;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveProviderButton:hover {
    opacity: 0.9;
}

#passwordChangeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-right: 55px;
}

#newPassword {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

#changePasswordButton {
    background-color: #004085;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    height: 40px;
    margin-left: 190px;
    
    
}

#changePasswordButton:hover {
    opacity: 0.9;
}

#providerButtonsContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px; /* Spațiere între butoane */
}


#cancelProviderButton {
    background-color: #ff4d4d; 
    color: white;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#cancelProviderButton:hover {
    background-color: #d32f2f; 
}
